* {
  box-sizing: border-box;
}

body{
 background:#67268F;
 color: #ffffff;
 margin: 0;
}

h1, h4 {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  padding-top: 20px;
}

#container {
  margin: 0 auto;
  background:#67268F;
  max-width: 600px;
  padding: 0 0 79vh 0;
}

#userContainer {
  margin: 50px 15px;
  padding: 15px;
  border: 3px solid #E80C9D;
  background: #B253E8;
  text-align: center;
}

#error {
  margin: 10px;
  font-weight: bold;
}

#userContainer p {
  font-size: 18px;
  display: inline-block;
}

#usernameForm {
  text-align: center;
  display: inline-block;
}

#mainContainer {
  display: none;
  margin: 50px 0;
  padding: 15px;
  border: 3px solid #E80C9D;
  background: #B253E8;
  float:left;
}

#chatWindow {
  min-height: 395px;
  min-width: 380px;
  border: 1px white solid;
  display: inline-block;
  float:left;
}

#userWrapper {
  min-width: 150px;
  min-height: 420px;
  border: 1px white solid;
  display: inline-block;
  float:left;
  margin-right:10px;
  text-align: center;
}

#messageForm {
  display: inline-block;
  float:left;
  margin-top: 5px;
  width: 100%;
}

#message {
  width: 80%;
}

#chatWrapper {
  display: inline-block;
  max-width: 400px;
  float:left;
}

#userWrapper p {
  font-weight: bold;
  color:black;
}

span {
  font-weight: bold;
  color:black;
}


@media screen and (min-width: 5px) and (max-width: 600px){
  #container {
    width: 100%;
    margin: 0 auto;
  }

  #userWrapper {
    display:none;
  }

  #chatWrapper {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }

  #chatWindow {
    min-width: 100%;
  }

  #mainContainer {
    width: 100%;
  }

  #message {
    width: 100%;
  }
}
